
<div>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <div>
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
    <div>
      
    </div>
      <div class="item active">
         <%= image_tag("Koenigsegg4.png") %>
        <div class="carousel-caption">
          <h3>Los Angeles</h3>
          <p>LA is always so much fun!</p>
        </div>
      </div>

      <div class="item">
        <%= image_tag("Koenigsegg1.png") %>
        <div class="carousel-caption">
          <h3>Chicago</h3>
          <p>Thank you, Chicago!</p>
        </div>
      </div>
    
      <div class="item">
        <%= image_tag("Koenigsegg2.png") %>
        <div class="carousel-caption">
          <h3>New York</h3>
          <p>We love the Big Apple!</p>
        </div>
      </div>
  
    </div>
  

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
         <!-- list logo -->
<center>        
  <div id ="menu">
    <div id="menu_logo" >

      <a class = "logo" href="/brands?brand_type=volkswagen">
        <p class = "logo_img">
          <img src="https://motoro.wpsixer.com/motoro-classo/wp-content/plugins/listing/assets/images/categories_icons/volkswagen.png">
        </p>
        <p class = "logo_text">Volkswagen</p>
      </a>
         <a class = "logo" href="/brands?brand_type=mercedes">
        <p class = "logo_img">
          <img src="https://motoro.wpsixer.com/motoro-classo/wp-content/plugins/listing/assets/images/categories_icons/icons8-mercedes-benz-65.png">
        </p>
        <p class = "logo_text">Mercedes</p>
      </a>
      
      <a class = "logo" href="/brands?brand_type=audi">
        <p class = "logo_img">
          <img src="https://motoro.wpsixer.com/motoro-classo/wp-content/plugins/listing/assets/images/categories_icons/audi.png">
        </p>
        <p class = "logo_text">Audi</p>
      </a>

      <a class = "logo" href="/brands?brand_type=bmw">
        <p class = "logo_img">
          <img src="https://motoro.wpsixer.com/motoro-classo/wp-content/plugins/listing/assets/images/categories_icons/bmw.png">
        </p>
        <p class = "logo_text">BMV</p>

      <a class = "logo" href="/brands?brand_type=porsche">
        <p class = "logo_img">
          <img src="https://motoro.wpsixer.com/motoro-classo/wp-content/plugins/listing/assets/images/categories_icons/po.png">
        </p>
        <p class = "logo_text">Porsche</p>

      </a>
        <a class = "logo" href="/brands?brand_type=ferrari">
        <p class = "logo_img">
          <img src="https://motoro.wpsixer.com/motoro-classo/wp-content/plugins/listing/assets/images/categories_icons/fe.png">
        </p>
        <p class = "logo_text">Ferrari</p>
      </a>

       </a>
        <a class = "logo" href="/brands?brand_type=lamborghini">
        <p class = "logo_img">
          <img src="https://motoro.wpsixer.com/motoro-classo/wp-content/plugins/listing/assets/images/categories_icons/icons8-lamborghini-65.png">
        </p>
        <p class = "logo_text">Lamborghini</p>
      </a>

      <a class = "logo" href="#">
        <p class = "logo_img">
          <img src="https://motoro.wpsixer.com/motoro-classo/wp-content/plugins/listing/assets/images/categories_icons/bugatti.png">
        </p>
        <p class = "logo_text">Bugatti</p>
      </a>

      <a class = "logo" href="#">
        <p class = "logo_img">
          <img src="https://motoro.wpsixer.com/motoro-classo/wp-content/plugins/listing/assets/images/categories_icons/icons8-alfa-romeo-65.png">
        </p>
        <p class = "logo_text">Alfa Romeo</p>
      </a>

      <a class = "logo" href="#">
        <p class = "logo_img">
          <img src="https://motoro.wpsixer.com/motoro-classo/wp-content/plugins/listing/assets/images/categories_icons/hyundai.png">
        </p>
        <p class = "logo_text">Hyundai</p>
      </a>

      <a class = "logo" href="#">
        <p class = "logo_img">
          <img src="https://motoro.wpsixer.com/motoro-classo/wp-content/plugins/listing/assets/images/categories_icons/icons8-nissan-65.png">
        </p>
        <p class = "logo_text">Nissan</p>
      </a>

      <a class = "logo" href="#">
        <p class = "logo_img">
          <img src="https://motoro.wpsixer.com/motoro-classo/wp-content/plugins/listing/assets/images/categories_icons/icons8-mini-cooper-65.png">
        </p>
        <p class = "logo_text">Mini Cooper</p>
      </a>

      <a class = "logo" href="#">
        <p class = "logo_img">
          <img src="https://motoro.wpsixer.com/motoro-classo/wp-content/plugins/listing/assets/images/categories_icons/icons8-ford-65.png">
        </p>
        <p class = "logo_text">Ford</p>
      </a>

      <a class = "logo" href="#">
        <p class = "logo_img" style="margin-top: 8px !important;">
          <img src="https://motoro.wpsixer.com/motoro-classo/wp-content/plugins/listing/assets/images/categories_icons/mazda.png">
        </p>
        <p class = "logo_text">Mazda</p>
      </a>

      <a class = "logo" href="#">
        <p class = "logo_img">
          <img src="https://motoro.wpsixer.com/motoro-classo/wp-content/plugins/listing/assets/images/categories_icons/datsun.png">
        </p>
        <p class = "logo_text">Datsun</p>
      </a>

      <a class = "logo" href="#">
        <p class = "logo_img">
          <img src="https://motoro.wpsixer.com/motoro-classo/wp-content/plugins/listing/assets/images/categories_icons/icons8-jaguar-65.png">
        </p>
        <p class = "logo_text">Jaguar</p>
      </a>

      <a class = "logo" href="#" >
        <p class = "logo_img">
          <img src="https://motoro.wpsixer.com/motoro-classo/wp-content/plugins/listing/assets/images/categories_icons/suzuki.png">
        </p>
        <p class = "logo_text">Suzuki</p>
      </a>

      <a class = "logo" href="#" style="margin-top: 42px !important;">
        <p class = "logo_img">
          <img src="https://motoro.wpsixer.com/motoro-classo/wp-content/plugins/listing/assets/images/categories_icons/kia.png">
        </p>
        <p class = "logo_text">Kia</p>
      </a>
    </div>
  </div>         
</center>
<!-- ------------------------ -->
<style type="text/css">

  .body_car_list{

      width: 100%;
      height: 1700px;
      margin-top: 15px;
    }

  .car_list_item{
    width: 80%;
    height: 450px;
    margin-top: 50px;
    margin-left: 10%;
  }  

  .car_title{
  width: 300px;
  height: 40px;
  font-size: 20px;
  margin-left: 490px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  text-align: center;
  color: white;
  background-color: #004A7F;
  font-family: Arial;
  font-size: 25px;

  }
/*
  @-webkit-keyframes glowing {
  0% { background-color: #004A7F; -webkit-box-shadow: 0 0 3px #004A7F; }
  50% { background-color: #0094FF; -webkit-box-shadow: 0 0 10px #0094FF; }
  100% { background-color: #004A7F; -webkit-box-shadow: 0 0 3px #004A7F; }
}
 
@-moz-keyframes glowing {
  0% { background-color: #004A7F; -moz-box-shadow: 0 0 3px #004A7F; }
  50% { background-color: #0094FF; -moz-box-shadow: 0 0 10px #0094FF; }
  100% { background-color: #004A7F; -moz-box-shadow: 0 0 3px #004A7F; }
}
 
@-o-keyframes glowing {
  0% { background-color: #004A7F; box-shadow: 0 0 3px #004A7F; }
  50% { background-color: #0094FF; box-shadow: 0 0 10px #0094FF; }
  100% { background-color: #004A7F; box-shadow: 0 0 3px #004A7F; }
}
 
@keyframes glowing {
  0% { background-color: #004A7F; box-shadow: 0 0 3px #004A7F; }
  50% { background-color: #0094FF; box-shadow: 0 0 10px #0094FF; }
  100% { background-color: #004A7F; box-shadow: 0 0 3px #004A7F; }
}
 
.car_title {
  -webkit-animation: glowing 1500ms infinite;
  -moz-animation: glowing 1500ms infinite;
  -o-animation: glowing 1500ms infinite;
  animation: glowing 1500ms infinite;
}
*/
  .car_item{
    width: 284px;
    height: auto;
    margin-top: 27px;
    margin-left: 2%;
    float: left;
    background: #ddd;
  }

  .car_item_pic{
    width: auto;
    height: auto;
    background: red;
  }

  .car_item_pic img{
    max-width: 100%;
    height: 199.55px;
  } 

  .car_item_info{
    width: auto;
    height: 100px;
    border-bottom: 2px solid #eee;
    border-right: 2px solid #eee;
  }

  .car_item_info ul{
    height: 50px;
  }

  .car_item_info ul li{
    list-style-type: none; 
    display: inline-block;
    margin-top: 5px;
    font-weight: bold;
    font-size: 17px;
    text-align: center;
    word-spacing: 3px;
  }

  .car_name{
    text-align: center;
    height: 50px;
    border-bottom: : 1px solid black;
    font-family: "Roboto";
    font-size: 22px;
  }
  .car_name a{
    color: black;
    text-decoration: none;
    border-bottom: 1px outset #eee; 
  }

  .car_video{
    width: 100%;
    height: 500px;
    margin-bottom: 0px;
    border: 3px outset #eee; 
  }

  .car_video_text{
    width: 50%;
    height: 100%;
    background: #eee;
    float: left;
  }
 .car_video_text h1{
  text-align: center;
 }
  .car_video_text ul{
    font-family: "Times New Roman";
    font-size: 20px;
    margin-left: 213px;
    margin-top: 70px;

  }


  .car_video_text ul li{
  }

  
  .car_video_item{
    width: 50%;
    height: 100%;
    float: left;
  }
  .car_video_contact{
  width: 270px;
  height: 40px;
  margin-left: 282px;
  margin-top: 100px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  text-align: center;
  color: white;
  background-color: #EE2C2C;
  font-family: Arial;
  font-size: 25px;

  }


    
</style>
<<!-- car -->

  <div class="body_car_list">

    <!--hot car -->
    <div class="car_list_item">

      <a href="#" style="text-decoration: none;"><div class="car_title">2020 The Best Cars</div></a>
      <div class="car_item">
        <div class="car_item_pic">
          <a href="#"><img src="https://motoro.wpsixer.com/motoro-classo/wp-content/uploads/bfi_thumb/47-ohe3ctp5rqbm3ck5nx282fu7e1faffuntdjpwmigmg.jpg">
          </a>
        </div>
        <div class="car_item_info">
          <p class="car_name"><a href="#">Mercedes c300 2020</a></p>
          <ul>
            <li>1200 mi</li> |
            <li>auto</li> |
            <li>770 hp</li>
          </ul>
        </div>
      </div>

      <div class="car_item">
        <div class="car_item_pic">
          <a href="#"><img src="https://motoro.wpsixer.com/motoro-classo/wp-content/uploads/bfi_thumb/45-ohe3ctp5rqbm3ck5nx282fu7e1faffuntdjpwmigmg.jpg">
          </a>
        </div>
        <div class="car_item_info">
          <p class="car_name"><a href="#">Mercedes G63 2020</a></p>
          <ul>
            <li>1200 mi</li> |
            <li>auto</li> |
            <li>770 hp</li>
          </ul>
        </div>
      </div>

      <div class="car_item">
        <div class="car_item_pic">
          <a href="#"><img src="https://uhdwallpapers.org/uploads/cache/1157604676/mclaren-720s_600x338-mm-90.jpg">
          </a>
        </div>
        <div class="car_item_info">
          <p class="car_name"><a href="#">Kia Morning 2021</a></p>
          <ul>
            <li>1200 mi</li> |
            <li>auto</li> |
            <li>770 hp</li>
          </ul>
        </div>
      </div>

      <div class="car_item">
        <div class="car_item_pic">
          <a href="#"><img src="https://images2.alphacoders.com/955/955061.jpg">
          </a>
        </div>
        <div class="car_item_info">
          <p class="car_name"><a href="#">Lamborghini Aventador</a></p>
          <ul>
            <li>1200 mi</li> |
            <li>auto</li> |
            <li>770 hp</li>
          </ul>
        </div>
      </div>
  </div>
<!-- --------------------------------------------------- -->
<!-- car list 1 -->
  <div class="car_list_item">

      <a href="#" style="text-decoration: none;"><div class="car_title"><span>The Latest Cars</span></div></a>
      <div class="car_item">
        <div class="car_item_pic">
          <a href="#"><img src="https://cdn.motor1.com/images/mgl/JmVR6/s4/2019-audi-r8-onlocation.jpg">
          </a>
        </div>
        <div class="car_item_info">
          <p class="car_name"><a href="#">Honda NSX 2020</a></p>
          <ul>
            <li>1200 mi</li> |
            <li>auto</li> |
            <li>770 hp</li>
          </ul>
        </div>
      </div>

      <div class="car_item">
        <div class="car_item_pic">
          <a href="#"><img src="https://www.jamesedition.com/stories/wp-content/uploads/2018/02/8f35ba26fe296e36b3a96ee5416259b4.jpg">
          </a>
        </div>
        <div class="car_item_info">
          <p class="car_name"><a href="#">Audi R8 2021</a></p>
          <ul>
            <li>1200 mi</li> |
            <li>auto</li> |
            <li>770 hp</li>
          </ul>
        </div>
      </div>

      <div class="car_item">
        <div class="car_item_pic">
          <a href="#"><img src="https://img.tinxe.vn/resize/1000x-/2020/02/17/0MQViQLm/kia-sorento-2021-7-eb5e.jpg">
          </a>
        </div>
        <div class="car_item_info">
          <p class="car_name"><a href="#">Kia Sorento</a></p>
          <ul>
            <li>1200 mi</li> |
            <li>auto</li> |
            <li>770 hp</li>
          </ul>
        </div>
      </div>

      <div class="car_item">
        <div class="car_item_pic">
          <a href="#"><img src="https://img.tinxe.vn/resize/1000x-/2019/08/06/95ywCUPr/tinxe-11-1704.jpg">
          </a>
        </div>
        <div class="car_item_info">
          <p class="car_name"><a href="#">McLaren 720s</a></p>
          <ul>
            <li>1200 mi</li> |
            <li>auto</li> |
            <li>770 hp</li>
          </ul>
        </div>
      </div>
  </div>
  <!-- --------------------- -->
  <!-- car list 2 -->
  <div class="car_list_item">

      <div class="car_item">
        <div class="car_item_pic">
          <a href="#"><img src="https://cdn.dailyxe.com.vn/image/bmw-x5-2021-plug-in-hybrid-manh-389-ma-luc-gia-tu-66-400-usd-130722j.jpg">
          </a>
        </div>
        <div class="car_item_info">
          <p class="car_name"><a href="#">BMV X5 2020</a></p>
          <ul>
            <li>1200 mi</li> |
            <li>auto</li> |
            <li>770 hp</li>
          </ul>
        </div>
      </div>

      <div class="car_item">
        <div class="car_item_pic">
          <a href="#"><img src="https://www.motortrend.com/uploads/sites/5/2018/11/2019-Porsche-Panamera-GTS-in-green.jpg?fit=around%7C875:492">
          </a>
        </div>
        <div class="car_item_info">
          <p class="car_name"><a href="#">Porche Paramera 2021</a></p>
          <ul>
            <li>1200 mi</li> |
            <li>auto</li> |
            <li>770 hp</li>
          </ul>
        </div>
      </div>

      <div class="car_item">
        <div class="car_item_pic">
          <a href="#"><img src=" https://vcdn-vnexpress.vnecdn.net/2020/07/06/range-rover-autobiography-vnexpress-9-1594025395-1594027019_1200x0.jpg?w=0&h=0&q=100&dpr=2&fit=crop&s=Di__4Fh8sTmylh49N7yf0Q">
          </a>
        </div>
        <div class="car_item_info">
          <p class="car_name"><a href="#">Range Rover Edition 2020</a></p>
          <ul>
            <li>1200 mi</li> |
            <li>auto</li> |
            <li>770 hp</li>
          </ul>
        </div>
      </div>

      <div class="car_item">
        <div class="car_item_pic">
          <a href="#"><img src="https://muaxegiatot.vn/wp-content/uploads/2020/06/gia-xe-mazda-6-2020-2021-sedan-muaxegiatot-vn-1.jpg">
          </a>
        </div>
        <div class="car_item_info">
          <p class="car_name"><a href="#">Mazda 6 2021</a></p>
          <ul>
            <li>1200 mi</li> |
            <li>auto</li> |
            <li>770 hp</li>
          </ul>
        </div>
      </div>
  </div>
  <hr>
  <div class="car_video">
      <div class="car_video_text">
        <h1>Why People Choose Us</h1>
        <ul>
          <li>We Are a Trusted Name In Auto</li>
          <li> Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
          <li> Integer et nisl et massa tempor ornare vel id orci.</li>
          <li> Nunc consectetur ligula vitae nisl placerat tempus.</li>
          <li> Curabitur quis ante vitae lacus varius pretium.</li>
        </ul>
         <a href="#" style="text-decoration: none;"><div class="car_video_contact">Contact Us Now</div></a>
      </div>  
      <div class="car_video_item">
        <iframe width="100%" height="100%" src="https://www.youtube.com/embed/Wr7U9Wu29CA?autoplay=1" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>  
  </div>
</div>




 

