<% provide(:title, 'All cars') %>
<%= render 'layouts/admin_sidebar' %>	

 <div id="content">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="#"><i class="zmdi zmdi-notifications text-danger"></i>
            </a>
          </li>
          <h1><li>Quản lý kho xe</li></h1>
          
        </ul>
      </div>
    </nav>
    <div class="container-fluid">
    	<ul class="posts">	
    		<%= link_to "thêm vào xe mới", new_admin_car_path %>
	<table>
		 <tr>
 	<th>
 		Loại xe
 	</th>
 	<th>
 		Tên xe
 	</th>
 	<th>
 		Màu xe
 	</th>
 	<th>
 		Hãng
 	</th>

 	<th>
 		Thời gian tạo
 	</th>
 	<th>
 		Sửa
 	</th>
 	<th>
 		Xóa
 	</th>
  </tr>	
		<%= render @cars %>
	</table>
    </div>
 