<div class = "container" >
<h1>All cars</h1>
<p>
	<spand id = "new_car-ajax"><%= link_to "new_car", new_admin_car_path, remote: true %></spand>
</p>


	<table id = "cars"> 
		 <tr>
 	<th>
 		Loại xe
 	</th>
 	<th>
 		Tên xe
 	</th>
 	<th>
 		Màu xe
 	</th>
 	<th>
 		Hãng
 	</th>

 	<th>
 		Thời gian tạo
 	</th>
 	<th>
 		Sửa
 	</th>
 	<th>
 		Xóa
 	</th>
  </tr>	
  	<tbody id = "">
  		<%= render @cars %>
  	</tbody>
		
	</table>		

</div>