<div class = "container" >
<h1>All cars</h1>
<p>
	<%= link_to "tạo bài viết mới", new_admin_car_path %>
</p>

<ul class="posts">	
	<table>
		 <tr>
 	<th>
 		Loại xe
 	</th>
 	<th>
 		Tên xe
 	</th>
 	<th>
 		Màu xe
 	</th>
 	<th>
 		Hãng
 	</th>

 	<th>
 		Thời gian tạo
 	</th>
 	<th>
 		Sửa
 	</th>
 	<th>
 		Xóa
 	</th>
  </tr>	
		<%= render @cars %>
	</table>		
</ul>
</div>