
<div class="row">
	<aside class="col-md-4">
		<section>
		
				
		</section>
		<div>
			
		</div>
	</aside>
</div>
<h1>
	Đơn Đăng Ký Lái Thử: 
<br />	
</h1>
<h4 class = "tablecheck">
	<%= registration.fullname %>
</h4>
<h4>
	<%= registration.drive_lisence %>
</h4>
<h4>
	<%= registration.phone %>
</h4>

<h4>Xe Sử dụng: 
	<%= registration.car_registrated.car.name %>
	
</h4>
