<%= form_for @comment, remote: true do |f| %>
	<div class="field">
		<%= f.text_area :content, placeholder: "Compose new comment..." %>
		<%= f.hidden_field :post_id, value: @comment.post_id %>
	</div>
	<%= f.submit "Post", class: " btn-primary btn-submit" %>
<% end %>