<% provide(:title, 'All posts') %>
<h1>All posts</h1>
<p>
	<%= link_to "tạo bài viết mới", new_admin_post_path %>
</p>

<ul class="posts">	
	<table>
		 <tr>
 	<th>
 		Người Post
 	</th>
 	<th>
 		Title
 	</th>
 	<th>
 		thời gian post
 	</th>
 	<th>
 		Xem 
 	</th>
 	<th>
 		Xóa
 	</th>
 	<th>
 		Kiểm Duyệt
 	</th>
 </tr>	
		<%= render @posts %>
	</table>		
</ul>



