<% provide(:title, 'All posts') %>
<%= render 'layouts/admin_sidebar' %>
<div id="content-post">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="#"><i class="zmdi zmdi-notifications text-danger"></i>
            </a>
          </li>
          <li><h1>Quản lý bài Post</h1></li>  
        </ul>
      </div>
    </nav>
    <div class="container-fluid">
     <ul class="posts">	
       <%= link_to "tạo bài viết mới", new_admin_post_path %>
	<table id = "table1">
		 <tr>
 	<th>
 		Người Post
 	</th>
 	<th>
 		Title
 	</th>
 	<th>
 		thời gian post
 	</th>
 
 	<th>
 		Xóa
 	</th>
 	<th>
 		trạng thái
 	</th>
 </tr>	
		<%= render @posts %>
	</table>		
</ul>
    </div>
 




