<%= form_for [:comment, @subcomment], remote: true do |f| %>
	<div class="field">
		<%= f.text_area :content, placeholder: "Compose new comment..." %>
	</div>

	<%= f.submit "Post", class: " btn-primary" %>
<% end %>
