<% provide(:title, 'quản lý reports') %> 
<%= render 'layouts/admin_sidebar' %>
<div id="content">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="#"><i class="zmdi zmdi-notifications text-danger"></i>
            </a>
          </li>
          <li><h1>Các bài viết bị report</h1></li>
         
        </ul>
      </div>
    </nav>
   
    <div class="container-fluid">
    	<ul class="posts">
    		
			<table>
				<tr>
					<th>
						Người report
					</th>
					<th>
						Bài Viết bị report
					</th>
					<th>
						Lý do
					</th>
					<th>
						Delete
					</th>
					<th>
						Thời Gian
					</th>
				</tr>	
				<%= render @reports %>
			</table>
		
		</ul>
	</div>
	
</div>

