<% provide(:title, 'quản lý reports') %> 
<div class = "container">
<h1>Các bài viết bị report </h1>
<table>
	<tr>
		<th>
			Người report
		</th>
		<th>
			Bài Viết bị report
		</th>
		<th>
			Lý do
		</th>
		<th>
			Delete
		</th>
		<th>
			Thời Gian
		</th>
	</tr>	
	<%= render @reports %>
</table>
</div>
