


aside {
	textarea {
		width: 300px;
		height: 100px;
		margin-top:  100px;
		margin-bottom: 5px;
	}
}
.post_title{
	    width: 960px;
}
.submitpost{
	margin-left: 490px;
}
.formpost{
	margin-top: 200px;

}

.indexcontent{	
	length: 30;
}
td{
	
	border: 1px solid black;
} 	
tr th{
	text-align: center;
	border: 1px solid black;
}
.tableuser{	
	width: 300px;
	height: 70px;
	margin-left: 30px;
}
.tablesee{
	width: 50px;
	height: 70px;
	text-align: center;
}
.mtop{
	margin-top: 10px;
}
.useravatar{
	margin-left: 30px;
}
.tablecheck{
	width: 150px;
	height: 70px;
	margin-left: 30px;
}

.admin{
	    margin-left: 160px;
}
.admin1{
	margin-left: 23px;
    margin-top: 25px;
}
.admin2{
	margin-top: 25px;
}
.admin3{
	height: 200px;
}
.contaner-admin{
	max-width: 960px;
}