
@import "bootstrap-sprockets";
@import "bootstrap";
@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css);
@import url(http://fonts.googleapis.com/css?family=Titillium+Web&subset=latin,latin-ext);

/* mixins, variables, etc. */
$gray-medium-light: #eaeaea;



	.container {
	  max-width: 960px;
	}

	/*
	 * Custom translucent site header
	 */

	.site-header {
	  background-color: #000000;
	  -webkit-backdrop-filter: saturate(180%) blur(20px);
	  backdrop-filter: saturate(180%) blur(20px);
	}
	.site-header a {
	  color: #999;
	  transition: ease-in-out color .15s;
	}
	.site-header a:hover {
	  color: #fff;
	  text-decoration: none;
	}

	/*
	 * Dummy devices (replace them with your own or something else entirely!)
	 */


	/*
	 * Custom translucent site header
	 */

	.site-footer {
	  clear: both;
	  background-color: #000000;
	  -webkit-backdrop-filter: saturate(180%) blur(20px);
	  backdrop-filter: saturate(180%) blur(20px);
	}
	

	/*
	 * Dummy devices (replace them with your own or something else entirely!)
	 */

	.product-device {
	  position: absolute;
	  right: 10%;
	  bottom: -30%;
	  width: 300px;
	  height: 540px;
	  background-color: #333;
	  border-radius: 21px;
	  -webkit-transform: rotate(30deg);
	  transform: rotate(30deg);
	}

	.product-device::before {
	  position: absolute;
	  top: 10%;
	  right: 10px;
	  bottom: 10%;
	  left: 10px;
	  content: "";
	  background-color: rgba(255, 255, 255, .1);
	  border-radius: 5px;
	}

	.product-device-2 {
	  top: -25%;
	  right: auto;
	  bottom: 0;
	  left: 5%;
	  background-color: #e5e5e5;
	}


	/*
	 * Extra utilities
	 */

	.flex-equal > * {
	  -ms-flex: 1;
	  flex: 1;
	}
	@media (min-width: 768px) {
	  .flex-md-equal > * {
	    -ms-flex: 1;
	    flex: 1;
	  }
	}

	.overflow-hidden { overflow: hidden; }

	@mixin box_sizing {
		-moz-box-sizing:
		border-box;
		-webkit-box-sizing: border-box;
		box-sizing:
		border-box;
	}
	
	 /* forms */
	input, textarea, select, .uneditable-input {
		border: 1px solid #bbb;
		width: 100%;
		margin-bottom: 15px;
		@include box_sizing;
	}
	input {
		height: auto !important;
	}
	.center {
	  margin: auto;
	  width: 50%;
	  padding: 10px;
	}
	.center-1 {
	  margin: auto;
	  width: 100%;
	  padding: 10px;
	}
	#error_explanation {
		color: red;
		ul {
			color: red;
			margin: 0 0 30px 0;
		}
	}
	.field_with_errors {
		@extend .has-error;
		.form-control {
		 color: $state-danger-text;
		}
	}
	/* sidebar */
	aside {
		section.user_info {
			margin-top: 20px;
			margin-left: 10rem;
		}
		section {
		padding: 10px 0;
		margin-top: 20px;
			&:first-child {
			border: 0;
			padding-top: 0;
			}
		span {
			display: block;
			margin-bottom: 3px;
			line-height: 1;
		}
		h1 {
			font-size: 1.4em;
			text-align: left;
			letter-spacing: -1px;
			margin-bottom: 3px;
			margin-top: 0px;
			}
		}
	}
	.vta{
		margin-left: 10rem;
		margin-top: 3rem;
	}
	.gravatar {
	float: left;
	margin-right: 10px;
	}
	.gravatar_edit {
	margin-top: 15px;
	}

	/* add css header*/
	.nav-height{
		height: 50px;
	}
	.nav-margin{
		margin-top: 8px;
		font-size: 15px;
	}

	.stats {
		overflow: auto;
		margin-top: 0;
		padding: 0;
		a {
			float: left;
				padding: 0 10px;
				border-left: 1px solid $gray-lighter;
				color: gray;
			&:first-child {
				padding-left: 0;
				border: 0;
			}
			&:hover {
				text-decoration: none;
				color: blue;
			}
		}
		strong {
		display: block;
		}
	}
	.user_avatars {
		overflow: auto;
		margin-top: 10px;
		.gravatar {
			margin: 1px 1px;
		}
		a {
			padding: 0;
		}
	}
	.users.follow {
		padding: 0;
	}


	/*add css home*/
	.mid{
		float: inherit!important; 
	 }

	 /*add css footer*/
	 .footer-font{
	 	font-size: larger;
	 }
	 .nav-margin1{
	 	margin-top: inherit;
	 }

	 /* forms */

	.checkbox {
		margin-top: -10px;
		margin-bottom: 10px;
		span {
			margin-left: 20px;
			font-weight: normal;
		}
	}
	#session_remember_me {
		width: auto;
		margin-left: 0;
	}

/* Users index */
	.users {
	list-style: none;
		margin: 0;
		li {
			overflow: auto;
			padding: 10px 0;
			border-bottom: 1px solid $gray-lighter;
		}
	}
	/* microposts */
aside {
	textarea {
		height: 100px;
		margin-bottom: 5px;
	}
}
span.image {
	margin-top: 10px;
	input {
		border: 0;
	}
}
* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 15px;
  user-select: none;
}
.kpx_authTitle{
	color: #000000;
}
/* Position the "next button" to the right */
.prev {
	left: 0;
	border-radius: 15px;
}
.next {
  right: 0;
  border-radius: 15px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: #CD5C5C;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}


aside {
	textarea {
		width: 300px;
		height: 100px;
		margin-top:  100px;
		margin-bottom: 5px;
	}
}
.post_title{
	    width: 960px;
}
.submitpost{
	margin-left: 490px;
}
.formpost{
	margin-top: 200px;

}

.indexcontent{	
	length: 30;
}
td{
	
	border: 1px solid black;
} 	
tr th{
	text-align: center;
	border: 1px solid black;
}
.tableuser{	
	width: 300px;
	height: 70px;
	margin-left: 30px;
}
.tablesee{
	width: 50px;
	height: 70px;
	text-align: center;
}
.mtop{
	margin-top: 10px;
}
.useravatar{
	margin-left: 30px;
}
.tablecheck{
	width: 150px;
	height: 70px;
	margin-left: 30px;
}



.admin{
	    margin-left: 160px;
}
.admin1{
	margin-left: 23px;
    margin-top: 25px;
}
.admin2{
	margin-top: 25px;
}
.admin3{
	height: 200px;
}
.contaner-admin{
	max-width: 960px;

}
.active-purple-2 input.form-control[type=text]:focus:not([readonly]) {
  border-bottom: 1px solid #ce93d8;
  box-shadow: 0 1px 0 0 #ce93d8;
}

/* Posts index */
.posts {
	list-style: none;
	margin: 0;
li {
	overflow: auto;
	padding: 10px 0;
	border-bottom: 1px solid $gray-lighter;
	}
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* THEMESE LOGIN */

@media (min-width: 768px) {
    .omb_row-sm-offset-3 div:first-child[class*="col-"] {
        margin-left: 25%;
    }
}
.body-log-in {
    font-family: 'Titillium Web', sans-serif; 
     background:url('https://images8.alphacoders.com/936/936783.jpg ');
}

.omb_login .omb_authTitle {
	color: white;
    text-align: center;
	line-height: 300%;
}
	
.omb_login .omb_socialButtons a {
	color: white; // In yourUse @body-bg 
	opacity:0.9;
}
.omb_login .omb_socialButtons a:hover {
    color: white;
	opacity:1;    	
}
.omb_login .omb_socialButtons .omb_btn-facebook {background: #3b5998;}
.omb_login .omb_socialButtons .omb_btn-twitter {background: #00aced;}
.omb_login .omb_socialButtons .omb_btn-google {background: #c32f10;}


.omb_login .omb_loginOr {
	position: relative;
	font-size: 1.5em;
	color: #aaa;
	margin-top: 1em;
	margin-bottom: 1em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}
.omb_login .omb_loginOr .omb_hrOr {
	background-color: #cdcdcd;
	height: 1px;
	margin-top: 0px !important;
	margin-bottom: 0px !important;
}
.omb_login .omb_loginOr .omb_spanOr {
	display: block;
	position: absolute;
	left: 50%;
	top: -0.6em;
	margin-left: -1.5em;
	background-color: white;
	width: 3em;
	text-align: center;
}			

.omb_login .omb_loginForm .input-group.i {
	width: 2em;
}
.omb_login .omb_loginForm  .help-block {
    color: red;
}

	
@media (min-width: 768px) {
    .omb_login .omb_forgotPwd {
        text-align: right;
		margin-top:10px;
 	}		
}
#session_remember_me{
	width: auto;
    margin-left: -18px;
}

.checkbox span {
    margin-left: 5px;
    font-weight: normal;
    color: #000000;
}

/* THEME SIGN UP */
.body-sign-up{
	color: #FFFFFF;
	background: url('https://images6.alphacoders.com/374/374686.jpg');

}

/* THEME CAR REVIEW */
.body-form-post{
	background-color: #F5FFFA;
}


#click {
  display: inline-block;
  background-color: #FF9800;
  width: 60px;
  height: 60px;
  text-align: center;
  

 
 
}
#click::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}
#click:hover {
  cursor: pointer;
  background-color: #0d0d0d;
}


#click:active {
  background-color: #555;
}


#click.show {
  opacity: 1;
  visibility: visible;
}

/*  note */
  .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }

/* themes home */

      * {box-sizing: border-box}
      .mySlides2 {display: none}
      img {vertical-align: middle;}

      /* Slideshow container */
      .slideshow-container {
        max-width: 1000px;
        position: relative;
        margin: auto;
      }

      /* Next & previous buttons */
      .prev, .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        padding: 16px;
        margin-top: -22px;
        color: white;
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
      }

      /* Position the "next button" to the right */
      .next {
        right: 0;
        border-radius: 3px 0 0 3px;
      }

      /* On hover, add a grey background color */
      .prev:hover, .next:hover {
        background-color: #f1f1f1;
        color: black;
      }

