
 <div class = " container-admin admin">
   <div class= "row admin">
      <div class ="col-8 col-sm-4 col-md-4 admin3">
         <h1><%= link_to "Kho xe", admin_cars_path %>
      </div>
      <div class ="col-8 col-sm-4 col-md-4  admin3">
         <h1><%= link_to "Kiểm Duyệt Bài Post", admin_posts_path %></h1>
      </div>
      <div class ="col-8 col-sm-4 col-md-4 admin3 admin1">
         <h1><%= link_to "Đăng Ký lái thử", admin_registrateds_path %></h1>
      </div>
      <div class ="col-8 col-sm-4 col-md-4  admin3 admin2">
         <p>.col-12 .col-sm-6 .col-md-4</p>
      </div>
  
   </div>
</div>
