<div id="viewport">
  <!-- Sidebar -->
  <div id="sidebar">
    <header>
      <a href="/admin/home">My App</a>
    </header>
    <ul class="nav">
      <li>
        <a href="/admin/cars">
          <i class="zmdi zmdi-view-dashboard"></i> Quản Lý Kho xe
        </a>
      </li>
      <li>
      <a class="" href = "#" data-toggle="dropdown">
        <i class="zmdi zmdi-view-dashboard"></i>Quản lý bài post
      </a>
      <ul class="dropdown-menu" >
          <li> <a style = "color: black" href="/admin/posts?post_type=init">
          <i class="zmdi zmdi-link"></i> Các bài viết vừa tạo
        </a></li>
          <li> <a style = "color: black" href="/admin/posts?post_type=rejected">
          <i class="zmdi zmdi-link"></i> các bài viết bị chặn
        </a></li> 
          <li> <a style = "color: black" href="/admin/posts?post_type=accepted">
          <i class="zmdi zmdi-link"></i> các bài viết được duyệt
        </a> 
      </ul>
      </li>
      <li>
        <a href="/admin/registrateds">
          <i class="zmdi zmdi-widgets"></i>Tạo đợt trải nghiệm
        </a>
      </li>
      <li>
        <a href="/users">
          <i class="zmdi zmdi-calendar"></i> Quản lý tài khoản
        </a>
      </li>
      <li>
        <a href="/admin/reports">
          <i class="zmdi zmdi-info-outline"></i> Quản lý reports
        </a>
      </li>
    
    </ul>
  </div>