
<footer class=" site-footer text-white  py-5 footer-font" style = "margin-top: 300px" >
  
 <center>
   <small> SOCIAL MEDIA   </small>
         <a href="http://instagram.com/username"><img style="margin:5px" src="https://image.flaticon.com/icons/svg/876/876765.svg" width="30" height="30" alt="Instagram"></a>
         <a href="http://instagram.com/username"><img style="margin:5px" src="https://image.flaticon.com/icons/svg/2111/2111463.svg" width="30" height="30" alt="Instagram"></a>
        <a href="http://facebook.com/username"><img style="margin:5px" src="https://image.flaticon.com/icons/svg/145/145802.svg" width="30" height="30" alt="Facebook"></a>
        <a href="http://youtube.com/user/username" ><img style="margin:5px" src="https://image.flaticon.com/icons/svg/1384/1384060.svg" width="30" height="30" alt="YouTube"></a>
        <a href="http://youtube.com/user/username" ><img style="margin:5px" src="https://image.flaticon.com/icons/svg/145/145812.svg" width="30" height="30" alt="YouTube"></a>
        <a href="http://youtube.com/user/username" ><img style="margin:5px" src="https://image.flaticon.com/icons/svg/145/145808.svg" width="30" height="30" alt="YouTube"></a>
      
           <b> 
            <small> Get exclusive resources straight to your inbox  </small>
            <script>
        $(document).ready(function (){
            $("#click").click(function (){
                $('html, body').animate({
                    scrollTop: $("#body-prj").offset().top
                }, 1500);
            });
        });
    </script>
    <button id="click" class="btn btn-warning "> </button>
          </b> 
         
    
     <p>
      <b> <small> © 2020 Awesome Car R.S.C.  </small></b> 
      <b> <small> made by HDH team  </small></b> 
     </p>

        
        
      </div>
   </center>
</footer>   

  